<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="BankingApp.SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 255px;
        }
    </style>
      
</head>
<body>
    <form id="form1" runat="server">
    <table style="font-family : Arial">

        <tr>
            <td colspan="2" style="width: 800px; height: 80px; background-color: #BDBDBD;text-align:center">
                <h1>
                    My Bank Customer</h1><table style="width:100%;">
                        <tr>
                            <td class="auto-style1">Hi
                                <asp:Label ID="UsernameLabel" runat="server" Text="Label"></asp:Label></td>
                            <td>&nbsp;</td>
                            <td>
                            
                                <asp:Button ID="Signoutbtn" runat="server" Height="21px" Text="signout" OnClick="Signoutbtn_Click" />
                            </td>
                        </tr>
                       
                    
                    </table>
                
            </td>



        </tr>
        <tr>
            <td style="height: 500px;background-color:#D8D8D8;width:150px;padding-top:2px 3px;" valign="top">
                <h3>
                    Menu
                </h3>

                <asp:Menu ID="Menu1" runat="server">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/CustomerHome.aspx" Text="Home" Value="Home"></asp:MenuItem>
                        <asp:MenuItem Text="Transactions" Value="Accounts">
                            <asp:MenuItem NavigateUrl="~/CsendMoney.aspx" Text="send money" Value="View Users"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/CtransHis.aspx" Text="Transaction history" Value="Create Account"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="Loans" Value="Loans">
                            <asp:MenuItem NavigateUrl="~/CviewLoans.aspx" Text="View loan details" Value="View loans"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/ApplyLoan.aspx" Text="apply for loan" Value="approve loans"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="deposits" Value="deposits">
                            <asp:MenuItem NavigateUrl="~/CviewDeposits.aspx" Text="View my deposits" Value="View all deposits"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/CapplyDeposits.aspx" Text="apply for deposits" Value="approve deposits"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Login.aspx" Text="sign out" Value="sign out"></asp:MenuItem>
                    </Items>
                </asp:Menu>

            </td>
            <td style="height:500px;background-color:#E6E6E6;width:650px">
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                <h2>
                    Welcome Customer</h2>    
                </asp:ContentPlaceHolder>
                
            </td>

        </tr>
        <tr>
            <td colspan="2" style="background-color:#BDBDBD;text-align:center">
                <b>website footer</b>
            </td>
        </tr>


    </table>


    </form>
</body>
</html>

